body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color:#1f2937;
}

header {
    display: flex;
    justify-content: space-around;
    background-color:#1f2937;
    color: #f9faf8;
}

    h1.nav-logo {
        color:#f9faf8;
        font-size: 24px;
    }

    /* nav.navbar {} */

    nav.navbar ul li {
        display: inline; 
        margin: 0 8px;
    }

/* Sections */
section {margin:25px 0;}

section#hero-section {
    margin: 0;
    margin-bottom: 25px;
    width: 100%;
    min-height:680px;
    background: url("../images/hero-image_background-yosemitevalley.jpg") no-repeat top left;
    background-size: cover;
    color:#f9faf8;
    display: flex;
    justify-content: space-around;
}
    h1.hero-title {
        color:#f9faf8;
        font-size: 48px;
        font-weight: 900;
    }

/* section#services-section {} */

section#quote-section {
    background-color: #e5e7eb;
    padding: 25px 0 25px 0;
    display:flex;
    justify-content: center;
}
    div.quote {
        align-items: center; 
        max-width: 750px;   
    }

    div.quote h4 {
        font-size: 36px;
        color: #1f2937;
        font-weight: 300;
        font-style: italic;
    }

    div.quote p.quote-author {
        font-weight: bold;
        text-align: right;
    }


section#cta-section {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
    div.cta-container {
        border-radius: 5px;
        background-color: #3883F6;
        color: #f9faf8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 32px;
        min-width: 750px;
    }
    /* CTA button */
    .btn-default {
        background-color: #3883F6;
        border:solid #f9faf8 1px;
        border-radius: 3px;
        color: #f9f9f9;
        height: 40px;
        padding: 2px auto;
    }

/* Footer */
footer {
    margin: 25px auto;
    padding:15px 0 15px 0;
    background-color: #1f2937;
    color:#E5E7EB; 
    text-align:center;
    font-size: 12px;
}