body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color:#1f2937;
}

header {

}

    h1.nav-logo {}

    nav.navbar {}

    nav.navbar ul {}

/* Sections */
section#hero-section {}

section#services-section {}

section#quote-section {}

section#cta-section {}

/* Footer */
footer {
    margin: 48px auto;
    padding:15px 0 15px 0;
    background-color: #1f2937;
    color:#E5E7EB; 
    text-align:center;
    font-size: 12px;
}