body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color:#1f2937;
}

header {
    display: flex;
    justify-content: space-around;
    background-color:#1f2937;
    color: #fff;
}

    h1.nav-logo {
        color:#f9faf8;
        font-size: 24px;
    }

    nav.navbar {}

    nav.navbar ul li {
        display: inline; 
        margin: 0 8px;
    }

/* Sections */
section#hero-section {}

section#services-section {}

section#quote-section {
    background-color: #e5e7eb;
    padding: 25px 0 25px 0;
    display:flex;
    justify-content: center;
}
    div.quote {
        align-items: center; 
        max-width: 750px;   
    }

    div.quote h4 {
        font-size: 36px;
        color: #1f2937;
        font-weight: 300;
        font-style: italic;
    }

    div.quote p.quote-author {
        font-weight: bold;
        text-align: right;
    }


section#cta-section {}

/* Footer */
footer {
    margin: 48px auto;
    padding:15px 0 15px 0;
    background-color: #1f2937;
    color:#E5E7EB; 
    text-align:center;
    font-size: 12px;
}